
[hub]
protocol = https

[core]
excludesfile = /opt/boxen/config/git/gitignore

[color "grep"]
  filename = green
  function = blue

[alias]
st = status
co = checkout
ci = commit
br = branch
[user]
	name = SL
	email = steven@314159.steven.org
